:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #6b7280;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #eee;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

.banner {
  width: 100%;
  min-height: 100vh;
  color: #fff;
  background-color: var(--darker);
}

.navbar {
  width: 100%;
  margin: auto;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  background: var(--darkest);
}

.logo {
  width: 400px;
  height: 80px;
  /* cursor: pointer; */
  margin-left: 30px;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  margin-top: 40px;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--light), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.menu-icon {
  width: 35px;
  height: 25px;
  cursor: pointer;
  margin-top: 20px;
  display: none;
}

.headingText {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 20px;
}
.headingText h1 {
  font-size: 40px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 20px;
  background-image: linear-gradient(to left, gold, var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headingText p {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  line-height: 30px;
  font-family: comic;
}

#slider {
  overflow: hidden;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.bodyContent {
  width: 350px;
  background: center;
  background-color: gold;
  display: inline-block;
  margin: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: 50px;
}

h2 {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  color: rgb(1, 56, 1);
}

button {
  width: 150px;
  padding: 10px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 15px;
  font-weight: bold;
  border: 2px solid #fff;
  background: rgb(1, 56, 1);
  color: #fff;
  cursor: pointer;
  margin-left: 90px;
  position: relative;
  overflow: hidden;
}

span {
  background: gold;
  height: 100%;
  width: 0;
  border-radius: 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span {
  width: 100%;
}
button:hover {
  border: none;
}

.feature {
  background: center;
  background-color: gold;
  color: rgb(1, 56, 1);
  display: inline-block;
  margin: 10px;
  padding: 12px;
  margin-left: 50px;
}

.images ul li {
  list-style: none;
  display: inline;
  margin: 10px;
  position: relative;
}
#image1 {
  width: 350px;
}
#image2 {
  width: 350px;
}
#image3 {
  width: 350px;
}
#image4 {
  width: 350px;
}

.main-footer {
  background: var(--darkest);
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 0;
}
/* @media (max-width: 600px) {
  #banner {
    width: 123%;
    float: none;
  }
} */
.socialMedia ul li {
  list-style: none;
  display: inline;
  margin: 10px;
  position: relative;
  margin-right: 50px;
}
#social1 {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#social2 {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
#social3 {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
#social4 {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.footerP {
  margin-top: 10px;
}

@media only screen and (max-width: 700px) {
  .navbar ul {
    width: 100%;
    background: var(--darkest);
    position: absolute;
    top: 100px;
    right: -80px;
    z-index: 2;
    text-align: right;
  }
  .navbar ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navbar ul li a {
    background-image: linear-gradient(to right, var(--light), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  .menu-icon {
    display: block;
  }
  #menuList {
    overflow: hidden;
    transition: 0.5s;
  }
  .logo {
    width: 350px;
    height: 60px;
    margin-left: -10px;
  }

  .banner {
    width: 123%;
  }
  .main-footer {
    width: 123%;
  }
  .headingText h1 {
    font-size: 22px;
  }
  .headingText p {
    font-size: 16px;
  }
  .bodyContent {
    width: 80%;
  }
  .images ul li {
    margin: 12px;
  }
  #image1 {
    width: 170px;
    margin-bottom: 10px;
  }
  #image2 {
    width: 170px;
    margin-bottom: 10px;
  }
  #image3 {
    width: 170px;
  }
  #image4 {
    width: 170px;
  }
  .socialMedia ul li {
    margin: 20px;
  }
}
